<hr class='hr-seperator'>

<div class="container">
	<div class="row">
		<div class="hide-div col-md-4">
			<h5>Company</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="col-lg-2 col-md-3">
			<h5>First</h5>
			<ul class="btm-ul">
				<li>Manu One</li>
				<li>Manu One</li>
				<li>Manu One</li>
			</ul>
		</div>
		<div class="col-lg-2 col-md-3">
			<h5>First</h5>
			<ul class="btm-ul">
				<li>Manu One</li>
				<li>Manu One</li>
				<li>Manu One</li>
			</ul>
		</div>
		<div class="col-lg-2 col-md-3">
			<h5>First</h5>
			<ul class="btm-ul">
				<li>Manu One</li>
				<li>Manu One</li>
				<li>Manu One</li>
			</ul>
		</div>
		<div class="col-lg-2 col-md-3">
			<h5>Get Updates</h5>
			<input type="text" class="p-1 form-control" placeholder="Email">
			<button type="button" class="mt-2 p-1 btn btn-primary">Primary</button>
		</div>
	</div>
</div>

<hr class='hr-seperator'>

<div class="container">
	<div class="row my-4">
		<div class="col-md-12 text-center">
			<img class="social-icon mx-3" src="{{site.baseurl}}/img/fb.jpg">
			<img class="social-icon mx-3" src="{{site.baseurl}}/img/google.jpg">
			<img class="social-icon mx-3" src="{{site.baseurl}}/img/ins.jpg">
			<img class="social-icon mx-3" src="{{site.baseurl}}/img/twitter.jpg">
		</div>	
	</div>
	<div class="row my-5">
		<div class="col-md-12 text-center">
			<p>@ 2018 WorldView Global Culture Alliance All Rights Reserve</p>
		</div>
	</div>
</div>